In [18]:
import pandas as pd
#Extract the provided dataset using FLAT FILE

df = pd.read_csv('RT_IOT2022.csv')
df

,no,id.orig_p,id.resp_p,proto,service,flow_duration,fwd_pkts_tot,bwd_pkts_tot,fwd_data_pkts_tot,bwd_data_pkts_tot,...,active.std,idle.min,idle.max,idle.tot,idle.avg,idle.std,fwd_init_window_size,bwd_init_window_size,fwd_last_window_size,Attack_type
0,0,38667,1883,tcp,mqtt,32.011598,9,5,3,3,...,0.0,2.972918e+07,2.972918e+07,2.972918e+07,2.972918e+07,0.0,64240,26847,502,MQTT_Publish
1,1,51143,1883,tcp,mqtt,31.883584,9,5,3,3,...,0.0,2.985528e+07,2.985528e+07,2.985528e+07,2.985528e+07,0.0,64240,26847,502,MQTT_Publish
2,2,44761,1883,tcp,mqtt,32.124053,9,5,3,3,...,0.0,2.984215e+07,2.984215e+07,2.984215e+07,2.984215e+07,0.0,64240,26847,502,MQTT_Publish
3,3,60893,1883,tcp,mqtt,31.961063,9,5,3,3,...,0.0,2.991377e+07,2.991377e+07,2.991377e+07,2.991377e+07,0.0,64240,26847,502,MQTT_Publish
4,4,51087,1883,tcp,mqtt,31.902362,9,5,3,3,...,0.0,2.981470e+07,2.981470e+07,2.981470e+07,2.981470e+07,0.0,64240,26847,502,MQTT_Publish
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123112,2005,59247,63331,tcp,-,0.000006,1,1,0,0,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1024,0,1024,NMAP_XMAS_TREE_SCAN
123113,2006,59247,64623,tcp,-,0.000007,1,1,0,0,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1024,0,1024,NMAP_XMAS_TREE_SCAN
123114,2007,59247,64680,tcp,-,0.000006,1,1,0,0,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1024,0,1024,NMAP_XMAS_TREE_SCAN
123115,2008,59247,65000,tcp,-,0.000006,1,1,0,0,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1024,0,1024,NMAP_XMAS_TREE_SCAN
123116,2009,59247,65129,tcp,-,0.000006,1,1,0,0,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1024,0,1024,NMAP_XMAS_TREE_SCAN

In [ ]:
phase = pd.DataFrame()

In [45]:
pip.install kagglehub
import kagglehub

# Download latest version
path = kagglehub.dataset_download("supplejade/rt-iot2022real-time-internet-of-things")

print("Path to dataset files:", path)

SyntaxError: invalid syntax (1174968144.py, line 1)

In [15]:
df.dtypes

no                        int64
id.orig_p                 int64
id.resp_p                 int64
proto                    object
service                  object
                         ...
idle.std                float64
fwd_init_window_size      int64
bwd_init_window_size      int64
fwd_last_window_size      int64
Attack_type              object
Length: 85, dtype: object

In [37]:
# What is the lowest min idle time
dfmin = df['idle.min'].min
dfmin

<bound method Series.min of 0         2.972918e+07
1         2.985528e+07
2         2.984215e+07
3         2.991377e+07
4         2.981470e+07
              ...
123112    0.000000e+00
123113    0.000000e+00
123114    0.000000e+00
123115    0.000000e+00
123116    0.000000e+00
Name: idle.min, Length: 123117, dtype: float64>

In [86]:
# What is the largest max idle time
dfmax = df['idle.min'].max
dfmax

<bound method Series.max of 0         2.972918e+07
1         2.985528e+07
2         2.984215e+07
3         2.991377e+07
4         2.981470e+07
              ...
123112    0.000000e+00
123113    0.000000e+00
123114    0.000000e+00
123115    0.000000e+00
123116    0.000000e+00
Name: idle.min, Length: 123117, dtype: float64>

In [24]:
# What is the average idle time
mean = (df['idle.min'] + df['idle.max'])
mean.mean

<bound method Series.mean of 0         5.945837e+07
1         5.971055e+07
2         5.968430e+07
3         5.982755e+07
4         5.962941e+07
              ...
123112    0.000000e+00
123113    0.000000e+00
123114    0.000000e+00
123115    0.000000e+00
123116    0.000000e+00
Length: 123117, dtype: float64>

In [32]:
# What is the average flow duration
flow_ave = df['flow_duration'].mean
flow_ave

<bound method Series.mean of 0         32.011598
1         31.883584
2         32.124053
3         31.961063
4         31.902362
            ...
123112     0.000006
123113     0.000007
123114     0.000006
123115     0.000006
123116     0.000006
Name: flow_duration, Length: 123117, dtype: float64>

In [53]:
df

,no,id.orig_p,id.resp_p,proto,service,flow_duration,fwd_pkts_tot,bwd_pkts_tot,fwd_data_pkts_tot,bwd_data_pkts_tot,...,active.std,idle.min,idle.max,idle.tot,idle.avg,idle.std,fwd_init_window_size,bwd_init_window_size,fwd_last_window_size,Attack_type
0,0,38667,1883,tcp,mqtt,32.011598,9,5,3,3,...,0.0,2.972918e+07,2.972918e+07,2.972918e+07,2.972918e+07,0.0,64240,26847,502,MQTT_Publish
1,1,51143,1883,tcp,mqtt,31.883584,9,5,3,3,...,0.0,2.985528e+07,2.985528e+07,2.985528e+07,2.985528e+07,0.0,64240,26847,502,MQTT_Publish
2,2,44761,1883,tcp,mqtt,32.124053,9,5,3,3,...,0.0,2.984215e+07,2.984215e+07,2.984215e+07,2.984215e+07,0.0,64240,26847,502,MQTT_Publish
3,3,60893,1883,tcp,mqtt,31.961063,9,5,3,3,...,0.0,2.991377e+07,2.991377e+07,2.991377e+07,2.991377e+07,0.0,64240,26847,502,MQTT_Publish
4,4,51087,1883,tcp,mqtt,31.902362,9,5,3,3,...,0.0,2.981470e+07,2.981470e+07,2.981470e+07,2.981470e+07,0.0,64240,26847,502,MQTT_Publish
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123112,2005,59247,63331,tcp,-,0.000006,1,1,0,0,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1024,0,1024,NMAP_XMAS_TREE_SCAN
123113,2006,59247,64623,tcp,-,0.000007,1,1,0,0,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1024,0,1024,NMAP_XMAS_TREE_SCAN
123114,2007,59247,64680,tcp,-,0.000006,1,1,0,0,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1024,0,1024,NMAP_XMAS_TREE_SCAN
123115,2008,59247,65000,tcp,-,0.000006,1,1,0,0,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1024,0,1024,NMAP_XMAS_TREE_SCAN
123116,2009,59247,65129,tcp,-,0.000006,1,1,0,0,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1024,0,1024,NMAP_XMAS_TREE_SCAN

In [42]:
df.dtypes

no                        int64
id.orig_p                 int64
id.resp_p                 int64
proto                    object
service                  object
                         ...
idle.std                float64
fwd_init_window_size      int64
bwd_init_window_size      int64
fwd_last_window_size      int64
Attack_type              object
Length: 85, dtype: object

In [56]:
# Get the id 
dfresp = pd.DataFrame(df[['no','id.resp_p','proto','service','flow_duration','Attack_type']])
dfresp

          no  id.resp_p proto service  flow_duration          Attack_type
0          0       1883   tcp    mqtt      32.011598         MQTT_Publish
1          1       1883   tcp    mqtt      31.883584         MQTT_Publish
2          2       1883   tcp    mqtt      32.124053         MQTT_Publish
3          3       1883   tcp    mqtt      31.961063         MQTT_Publish
4          4       1883   tcp    mqtt      31.902362         MQTT_Publish
...      ...        ...   ...     ...            ...                  ...
123112  2005      63331   tcp       -       0.000006  NMAP_XMAS_TREE_SCAN
123113  2006      64623   tcp       -       0.000007  NMAP_XMAS_TREE_SCAN
123114  2007      64680   tcp       -       0.000006  NMAP_XMAS_TREE_SCAN
123115  2008      65000   tcp       -       0.000006  NMAP_XMAS_TREE_SCAN
123116  2009      65129   tcp       -       0.000006  NMAP_XMAS_TREE_SCAN

[123117 rows x 6 columns]

In [61]:
head = pd.DataFrame(df.head())
head

,no,id.orig_p,id.resp_p,proto,service,flow_duration,fwd_pkts_tot,bwd_pkts_tot,fwd_data_pkts_tot,bwd_data_pkts_tot,...,active.std,idle.min,idle.max,idle.tot,idle.avg,idle.std,fwd_init_window_size,bwd_init_window_size,fwd_last_window_size,Attack_type
0,0,38667,1883,tcp,mqtt,32.011598,9,5,3,3,...,0.0,2.972918e+07,2.972918e+07,2.972918e+07,2.972918e+07,0.0,64240,26847,502,MQTT_Publish
1,1,51143,1883,tcp,mqtt,31.883584,9,5,3,3,...,0.0,2.985528e+07,2.985528e+07,2.985528e+07,2.985528e+07,0.0,64240,26847,502,MQTT_Publish
2,2,44761,1883,tcp,mqtt,32.124053,9,5,3,3,...,0.0,2.984215e+07,2.984215e+07,2.984215e+07,2.984215e+07,0.0,64240,26847,502,MQTT_Publish
3,3,60893,1883,tcp,mqtt,31.961063,9,5,3,3,...,0.0,2.991377e+07,2.991377e+07,2.991377e+07,2.991377e+07,0.0,64240,26847,502,MQTT_Publish
4,4,51087,1883,tcp,mqtt,31.902362,9,5,3,3,...,0.0,2.981470e+07,2.981470e+07,2.981470e+07,2.981470e+07,0.0,64240,26847,502,MQTT_Publish

In [83]:
transformed_csv = dfresp.set_index('no')
transformed_csv

      id.resp_p proto service  flow_duration          Attack_type
no
0          1883   tcp    mqtt      32.011598         MQTT_Publish
1          1883   tcp    mqtt      31.883584         MQTT_Publish
2          1883   tcp    mqtt      32.124053         MQTT_Publish
3          1883   tcp    mqtt      31.961063         MQTT_Publish
4          1883   tcp    mqtt      31.902362         MQTT_Publish
...         ...   ...     ...            ...                  ...
2005      63331   tcp       -       0.000006  NMAP_XMAS_TREE_SCAN
2006      64623   tcp       -       0.000007  NMAP_XMAS_TREE_SCAN
2007      64680   tcp       -       0.000006  NMAP_XMAS_TREE_SCAN
2008      65000   tcp       -       0.000006  NMAP_XMAS_TREE_SCAN
2009      65129   tcp       -       0.000006  NMAP_XMAS_TREE_SCAN

[123117 rows x 5 columns]

In [84]:
 transformed_csv

      id.resp_p proto service  flow_duration          Attack_type
no
0          1883   tcp    mqtt      32.011598         MQTT_Publish
1          1883   tcp    mqtt      31.883584         MQTT_Publish
2          1883   tcp    mqtt      32.124053         MQTT_Publish
3          1883   tcp    mqtt      31.961063         MQTT_Publish
4          1883   tcp    mqtt      31.902362         MQTT_Publish
...         ...   ...     ...            ...                  ...
2005      63331   tcp       -       0.000006  NMAP_XMAS_TREE_SCAN
2006      64623   tcp       -       0.000007  NMAP_XMAS_TREE_SCAN
2007      64680   tcp       -       0.000006  NMAP_XMAS_TREE_SCAN
2008      65000   tcp       -       0.000006  NMAP_XMAS_TREE_SCAN
2009      65129   tcp       -       0.000006  NMAP_XMAS_TREE_SCAN

[123117 rows x 5 columns]